body {
    background-color: #000000;
}

h1, p, label, .jumbotron, .sidenav a:hover, #skymap-label {
    color: #ffffff;
}

#skymap-label {
    text-align: right;
    top: 140px;
    right: 30px;
    float: right;
    position: absolute;
}

.jumbotron {
    background-color: #070b34;
    padding: 15px;
    float: right;
    right: -18px;
    width: 100%;
    position: absolute;
    text-align: center;
}

.skymap, .cat{
    max-width:80%;
    max-height:80%;
    top: 10rem;
    z-index: -5;
    position: absolute;
}

footer {
    position: absolute;
    right: 10px;
    bottom: 20px;
}

form, footer, .cat, table {
    padding-left: 20%;
    padding-top: 20%;
}

.text-muted, .username-label {
    color: white!important;
}

.sidenav {
    background-color: #375a7f;
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a, h1, #skymap-label {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    display: block;
    font-family: 'Space Grotesk', sans-serif;
}

.sidenav h1 {
    font-size: 25px;
    color: #ffffff;
}

.sidenav a {
    font-size: 20px;
    color: #00bc8c;
}

.main {
    margin-left: 160px;
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
