{% extends "layout.html" %}

{% block title %}
Sky Map
{% endblock %}

{% block main %}
    <div>
        <p id="skymap-label">Black ellipsoid represents the observable sky. 
            <br>Yellow marker represents the moon. Page may take a while to load.
            <br>Latitude: {{ lat }} °
            <br>Longitude: {{ lon }} °
            <br>Zip Code: {{ zipcode }}
            <br>Country: {{ country }}
            <br>Time: {{ time }}
        </p>
    </div>
    </div>
        <img class="skymap" src="/skymap.png" alt="my plot">
    </div>
{% endblock %}